$bgcolor:black;
$titulos: red;
$colorinfo: yellow;
$sizeinfo: 14px;
$colortext: white;
$sizetext:12px;
$colorcards: lighten $bgcolor;
body{background-color: $bgcolor;}
main{margin-top: 80px;}
.stitulo{ color:$titulos; 
text-align: center; 
font-family: monospace;}
#titulo{@extend .stitulo;
background-color: $bgcolor; 
position: fixed;
top:0px; 
width: 100%;   
height: 60px;
}
.generos{color:$titulos; text-align: center;}
.copyright { color:$titulos;text-align: center;}
.linkeos{background-color: $bgcolor; color:$titulos;}
.linkeos ul{display:flex; list-style: none;margin-top:100px;}
a{color:$titulos; text-decoration: none;margin-right: 40px;}
/* CARDS */
.card {  display: grid;color:$colortext;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 354px 40px 40px 40px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 10px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: stretch;
  justify-items: stretch;
  grid-template-areas:
    "foto foto2 foto3 foto4"
    "lupai lupa2 lupa3 lupa4"
    "generoi genero2 genero3 genero4"
    "duracioni duracion2 duracion3 duracion4";
  width: 100%;
  height: 670px;
  background-color: $bgcolor;
}
.foto { grid-area: foto; }
.foto2 { grid-area: foto2; }
.foto3 { grid-area: foto3; }
.foto4 { grid-area: foto4; }
.genero2 { grid-area: genero2; }
.genero3 { grid-area: genero3; }
.genero4 { grid-area: genero4; }
.generoi { grid-area: generoi; }
.duracioni { grid-area: duracioni; }
.duracion2 { grid-area: duracion2; }
.duracion3 { grid-area: duracion3; }
.duracion4 { grid-area: duracion4; }
.lupai { grid-area: lupai;}
.lupa2 { grid-area: lupa2; }
.lupa3 { grid-area: lupa3; }
.lupa4 { grid-area: lupa4; }
b{color:$colorinfo}
.boton2{align-self: right;
border-radius: 50%;
background-color: $colorinfo}
 /*  card_detalis */
  .cards_details { margin-top: 70px; margin-bottom: 60px;
    display: grid;
    grid-template-columns: 410px 100px 300px;
    grid-template-rows: 1fr 1fr 1fr 1.2fr  1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 6px 3px;
    grid-auto-flow: row dense;
    justify-content: center;
    align-content: stretch;
    justify-items: stretch;
    grid-template-areas:
      "fotopeli_d categoria categoria_detalle"
      "fotopeli_d genero genero_detalle"
      "fotopeli_d resumen resumen_detalle"
      "fotopeli_d resumen resumen_detalle"
      "fotopeli_d duracion duracion_detalle"
      "fotopeli_d reparto reparto_detalle"
      "fotopeli_d reparto reparto_detalle";
    width: 100%;
    height: 400px;
  }
  .fotopeli_d { grid-area: fotopeli_d; text-align: center;}
  .categoria { grid-area: categoria; color:$colorinfo;}
  .genero { grid-area: genero;color:$colorinfo; }
  .resumen { grid-area: resumen;color:$colorinfo; }
  .duracion { grid-area: duracion;color:$colorinfo; }
  .reparto { grid-area: reparto;color:$colorinfo; }
  .reparto_detalle { grid-area: reparto_detalle;color:$colortext; }
  .duracion_detalle { grid-area: duracion_detalle;color:$colortext; }
  .resumen_detalle { grid-area: resumen_detalle; color:$colortext; max-height: 100px;}
  .genero_detalle { grid-area: genero_detalle; color:$colortext;}
  .categoria_detalle { grid-area: categoria_detalle; color:$colortext;}
  