$bgcolor:black;
$titulos: red;
$colorinfo: yellow;
$sizeinfo: 14px;
$colortext: white;
$sizetext:14px;
$colorcards: lighten $bgcolor;
$fontfamily: 'Big Shoulders Inline Text', cursive;
$imagevw: 236px;
$imagew: 354px;
body{background-color: $bgcolor;}
.stitulo{ color:$titulos; 
text-align: center; 
font-family: $fontfamily;}
#titulo{@extend .stitulo;
font-family: $fontfamily;
background-color: $bgcolor; 
position: fixed;
top:0px; 
width: 100%;   
height: 60px;
}
h1{font-size: 50px;
margin-top: 0px;}
.generos{color:$colortext; text-align: center;font-family: $fontfamily;}
.copyright { color:$titulos;text-align: center;font-family: $fontfamily;}
.linkeos{background-color: $bgcolor; color:$titulos;font-family: $fontfamily;}
.linkeos ul{display:flex; list-style: none;margin-top:60px;}
a{color:$titulos; text-decoration: none;margin-right: 40px;}
/* CARDS */
.card {  display: grid;color:$colortext ;margin-left: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 354px 40px 40px 40px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 1fr 1fr;
  grid-auto-flow: column;
  justify-content: center;
  align-content: stretch;
  justify-items: stretch;
  grid-template-areas:
    "foto foto2 foto3 foto4"
    "lupai lupa2 lupa3 lupa4"
    "generoi genero2 genero3 genero4"
    "duracioni duracion2 duracion3 duracion4";
  width: 100%;
  height: 670px;
  background-color: $bgcolor;
}
.foto { grid-area: foto; height: $imagew;width: $imagevw;}
.foto2 { grid-area: foto2;height: $imagew;width: $imagevw;}
.foto3 { grid-area: foto3; height: $imagew;width: $imagevw;}
.foto4 { grid-area: foto4; height: $imagew;width: $imagevw;}
.genero2 { grid-area: genero2; }
.genero3 { grid-area: genero3; }
.genero4 { grid-area: genero4; }
.generoi { grid-area: generoi; }
.duracioni { grid-area: duracioni; }
.duracion2 { grid-area: duracion2; }
.duracion3 { grid-area: duracion3; }
.duracion4 { grid-area: duracion4; }
.lupai { grid-area: lupai; text-align: center;margin-left:60px;margin-top: -20px;}
.lupa2 { grid-area: lupa2; text-align: center;margin-left:60px;margin-top: -20px;}
.lupa3 { grid-area: lupa3;  text-align: center;margin-left:60px;margin-top: -20px;}
.lupa4 { grid-area: lupa4;  text-align: center;margin-left:60px;margin-top: -20px;}
b{color:$colorinfo}
.boton2{align-self: right;
border-radius: 50%;
background-color: $titulos;
border: none;}
 /*  card_detalis */
  .cards_details { margin-top: 70px;
    margin-bottom: 60px;
    font-family: $fontfamily;
    display: grid;
    grid-template-columns: 410px 100px 350px;
    grid-template-rows: 1fr 1fr 1fr 1.2fr  1fr 1fr 1fr;
    grid-auto-rows: 1fr; 
    gap: 0.5px 1px;
    grid-auto-flow: column; 
    justify-content: center;
    align-content: stretch;
    justify-items: stretch;
    grid-template-areas:
      "fotopeli_d categoria categoria_detalle"
      "fotopeli_d genero genero_detalle"
      "fotopeli_d resumen resumen_detalle"
      "fotopeli_d resumen resumen_detalle"
      "fotopeli_d duracion duracion_detalle"
      "fotopeli_d reparto reparto_detalle"
      "fotopeli_d reparto reparto_detalle";
    width: 100%;
    height: 400px;
  }
  .fotopeli_d { grid-area: fotopeli_d; text-align: center;}
  .categoria { grid-area: categoria; color:$colorinfo;}
  .genero { grid-area: genero;color:$colorinfo; }
  .resumen { grid-area: resumen;color:$colorinfo; }
  .duracion { grid-area: duracion;color:$colorinfo; }
  .reparto { grid-area: reparto;color:$colorinfo; }
  .reparto_detalle { grid-area: reparto_detalle;color:$colortext; }
  .duracion_detalle { grid-area: duracion_detalle;color:$colortext; }
  .resumen_detalle { grid-area: resumen_detalle; color:$colortext; max-height: 100px;}
  .genero_detalle { grid-area: genero_detalle; color:$colortext;}
  .categoria_detalle { grid-area: categoria_detalle; color:$colortext;}
  @media (max-width: 900px) { img {width:85%;}
 .card{
  height: 100%;
  align-items:baseline;
  display:inline-block;
  position:relative;
  margin-left: 1rem;}
.lupai{display:none;}
.lupa2{display:none;}
.lupa3{display:none;}
.lupa4{display:none;} 
.copyright{display:none;}
}
@media (max-width: 700px) {
.cards_details{display:inline-block;
  position:relative;
  margin-left: 5px;
  height: 100%;}
#titulo{display:inline-block;
  position:sticky;
  background-color: black;
  top:0px;
  width: 100%;
  height: 60px;
  z-index: 999;}}
@media (max-width: 400px) {
.linkeos ul{display: block;
  text-align: center;}  
}